@font-face {
  font-family: 'Chakra Petch';
  src: url('/fonts/ChakraPetch/ChakraPetch-LightItalic.woff2') format('woff2'),
      url('/fonts/ChakraPetch/ChakraPetch-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('/fonts/ChakraPetch/ChakraPetch-SemiBoldItalic.woff2') format('woff2'),
      url('/fonts/ChakraPetch/ChakraPetch-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('/fonts/ChakraPetch/ChakraPetch-MediumItalic.woff2') format('woff2'),
      url('/fonts/ChakraPetch/ChakraPetch-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('/fonts/ChakraPetch/ChakraPetch-SemiBold.woff2') format('woff2'),
      url('/fonts/ChakraPetch/ChakraPetch-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('/fonts/ChakraPetch/ChakraPetch-Medium.woff2') format('woff2'),
      url('/fonts/ChakraPetch/ChakraPetch-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('/fonts/ChakraPetch/ChakraPetch-BoldItalic.woff2') format('woff2'),
      url('/fonts/ChakraPetch/ChakraPetch-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('/fonts/ChakraPetch/ChakraPetch-Bold.woff2') format('woff2'),
      url('/fonts/ChakraPetch/ChakraPetch-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('/fonts/ChakraPetch/ChakraPetch-Regular.woff2') format('woff2'),
      url('/fonts/ChakraPetch/ChakraPetch-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('/fonts/ChakraPetch/ChakraPetch-Light.woff2') format('woff2'),
      url('/fonts/ChakraPetch/ChakraPetch-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('/fonts/ChakraPetch/ChakraPetch-Italic.woff2') format('woff2'),
      url('/fonts/ChakraPetch/ChakraPetch-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-LightItalic.woff2') format('woff2'),
      url('/fonts/Prompt/Prompt-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-BlackItalic.woff2') format('woff2'),
      url('/fonts/Prompt/Prompt-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-MediumItalic.woff2') format('woff2'),
      url('/fonts/Prompt/Prompt-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-ExtraBoldItalic.woff2') format('woff2'),
      url('/fonts/Prompt/Prompt-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-ExtraLightItalic.woff2') format('woff2'),
      url('/fonts/Prompt/Prompt-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-Italic.woff2') format('woff2'),
      url('/fonts/Prompt/Prompt-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-Black.woff2') format('woff2'),
      url('/fonts/Prompt/Prompt-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-Bold.woff2') format('woff2'),
      url('/fonts/Prompt/Prompt-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-ExtraBold.woff2') format('woff2'),
      url('/fonts/Prompt/Prompt-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-BoldItalic.woff2') format('woff2'),
      url('/fonts/Prompt/Prompt-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-Medium.woff2') format('woff2'),
      url('/fonts/Prompt/Prompt-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-Regular.woff2') format('woff2'),
      url('/fonts/Prompt/Prompt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-SemiBold.woff2') format('woff2'),
      url('/fonts/Prompt/Prompt-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-Light.woff2') format('woff2'),
      url('/fonts/Prompt/Prompt-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-SemiBoldItalic.woff2') format('woff2'),
      url('/fonts/Prompt/Prompt-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-ThinItalic.woff2') format('woff2'),
      url('/fonts/Prompt/Prompt-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-Thin.woff2') format('woff2'),
      url('/fonts/Prompt/Prompt-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-ExtraLight.woff2') format('woff2'),
      url('/fonts/Prompt/Prompt-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

